table.table tbody td:nth-child(3) {
	color:#c08000;
	font-weight:bold;
}

input.move {
	width:30px;
	color:#ff2020;
	font-weight:bold;
	font-size:18px;
	border:0px;
	margin-right:20px;
}

div.marker {
	width:58px;
	height:56px;
	position:absolute;
	border:2px dashed #ff0000;
	top:0px;
	left:0px;
	display:none;
}

div.feedback {
	margin-top:20px;
	color:#ff0000;
	font-weight:bold;
}

div.warnings {
	margin-top:10px;
	margin-bottom:0px;
}

div.promotion {
	margin-top:15px;
	display:none;
	border-top:1px solid #ff4040;
	border-bottom:1px solid #ff4040;
	background-color:#ffffc0;
	padding:5px 0px 5px 0px;
	width:200px;
}
select.promotion {
	width:120px;
}

img.king {
	display:block;
	margin:0 auto;
}
