div.players {
	margin-bottom:20px;
}

div.round {
	border:1px solid #000000;
	width:135px;
	float:left;
	margin:0 10px 10px 0;
}

div.round div.number {
	float:left;
	font-weight:bold;
	margin-right:5px;
}

div.round div.move:nth-child(2) {
	float:left;
}

div.round div.move:last-child {
	text-align:right;
}

input.button {
	margin-top:25px;
}
