th.header {
	background-position:right center;
	background-image:url(/images/updown.gif);
	background-repeat:no-repeat;
	cursor:pointer;
} 

th.headerSortUp {
	background-image:url(/images/up.gif);
	background-color:#e0e0ff;
}

th.headerSortDown {
	background-image:url(/images/down.gif);
	background-color:#e0e0ff;
}
