table.chessboard td.white {
	background-image:url(/images/bg_white_wood.jpg);
	background-position:-60px -30px;
}
table.chessboard td.black {
	background-image:url(/images/bg_black_wood.jpg);
	background-position:0px 0px;
}
