table.chessboard td.white {
	background-image:url(/images/bg_white_marble.jpg);
	background-position:-15px -15px;
}
table.chessboard td.black {
	background-image:url(/images/bg_black_marble.jpg);
	background-position:-160px -130px;
}
