/* Chessboard
 */
table.chessboard {
	border:3px solid #000000;
	border-spacing:0px;
	margin-bottom:10px;
}
table.chessboard td {
	width:62px;
	height:60px;
	padding:0px;
	text-align:center;
}

div > h3:first-child {
	margin-top:0;
}

/* Moves
 */
div.moves {
	border:1px solid #000000;
	font-size:12px;
	font-weight:bold;
	width:200px;
	height:147px;
	overflow:auto;
}
div.moves table {
	width:100%;
	border-spacing:0px;
}

div.moves td.number {
	width:25px;
}
div.moves td.white {
	background-color:#f0f0e4;
	padding-left:10px;
}
div.moves td.black {
	background-color:#808080;
	text-align:right;
	padding-right:10px;
}

/* Alerts
 */
div.controls div.alert {
	max-width:200px;
}

div.controls div.alert-danger {
	font-weight:bold;
	text-align:center;
}

/* Command buttons
 */
div.btn-cmds {
	margin:0 0 5px 0;
}
div.btn-cmds .btn {
	width:100px;
}
